body{
    margin: 0px;
}
.slide-container{
    position: relative;
    width: 100%;
}
.slide img{
    width: 100%;
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    color: black;
    background-color: rgba(255, 255, 255, 0.712);
    padding: 8px 19px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.next{
    right: 10px;
}
.preview{
    left: 10px;
}
.caption{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
}
.slide{
    display: none;
}